@import "styles/_variables";

.filter-group {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;

  &__input-container {

    input {
      background-color: $theme-color;
      outline: none;
      padding: 5px 10px;
      color: #000;
      border: 1px solid #000;
      border-radius: 5px;
      font-size: 18px;
      font-family: inherit;

      &::placeholder {
        color: #000;
      }
    }
  }

  &__select-container {
    margin-left: 10px;

    select {
      height: 100%;
      font-family: inherit;
      font-size: 16px;
      background-color: $theme-color;
      border-radius: 5px;
    }
  }
}
