.appContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__filter-group-container {
    margin-bottom: 10px;
  }

  &__card-list-container {
    height: calc(100vh - 220px);
    overflow-y: auto;
  }
}
